body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 400px;
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

.qr-code img {
    max-width: 60%;
    height: auto;
    margin-top: 20px;
}

.download-buttons {
    margin-top: 10px;
}

.download-buttons button {
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

@media (min-width: 600px) {
    .container {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .qr-code img {
        max-width: 80%;
    }
}
